*{
    padding:0;
    margin:0;
}

.box {
    width: 150px;
    height: 150px;
    border: 1px solid black;
    display: inline-block;
    margin: -2px;
    background-color: red;
}

.black {
    background-color: black;
}



